@model IEnumerable<IndaneApi.Models.Empty>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h1>Cylinder report 19kg </h1>


<div style="width: 100%;margin: 0 auto;">
    <li class="nav-item active">
        <a class="nav-link" href="/">Back to Dashboard</span></a>
    </li>
    <table border="1">
        <thead>
            <tr>
                <th>
                    Items Reports
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button onclick="TotalEmptyNoCalc()">Empty No</button>
                </td>
                <td>
                    <p id="lblEmptyNoCalc"></p>
                </td>

            </tr>
            <tr>
                <td>
                    <button onclick="TotalNewConCalc()">New Connection</button>
                </td>

                <td>
                    <p id="lblNewConCalc"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="TotalEMPCalc()">Empty Pending</button>
                </td>
                <td>
                    <p id="lblEMPCalc"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="TotalCBRCalc()">Cash To be received</button>
                </td>
                <td>
                    <p id="lblCBRCalc"></p>
                </td>
            </tr>
        </tbody>
    </table>

    <p id="date_filter">
        <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date" type="text" id="datepicker_from" />
        <span id="date-label-to" class="date-label">To:<input class="date_range_filter date" type="text" id="datepicker_to" />
    </p>

    <table class="display" id="datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryPersonDetail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.In_No)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmptyNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewConnection)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmptyPending)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnedFull)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CashToBeRecevied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CashRecevied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReceviedBalance)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryPersonDetail.Name)
                    </td>
                    <td>
                        @{
                            var dateval = item.TimeStamp.Date.ToString("MM/dd/yyyy");
                        }
                        @dateval
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.In_No)
                    </td>
                    <td class="totalEP">
                        @Html.DisplayFor(modelItem => item.EmptyNo)
                    </td>
                    <td class="totalNC">
                        @Html.DisplayFor(modelItem => item.NewConnection)
                    </td>
                    <td class="totalEMP">
                        @Html.DisplayFor(modelItem => item.EmptyPending)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnedFull)
                    </td>
                    <td class="totalCBR">
                        @Html.DisplayFor(modelItem => item.CashToBeRecevied)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CashRecevied)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceviedBalance)
                    </td>
                    @*@if (!User.IsInRole("Staff"))
                        {

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        }*@

                </tr>

            }
        </tbody>
    </table>
</div>
<p>

</p>


<script src="https://code.jquery.com/jquery-2.0.3.min.js" data-semver="2.0.3" data-require="jquery"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/jquery.dataTables_themeroller.css" rel="stylesheet" data-semver="1.9.4" data-require="datatables@@*" />
<link href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/jquery.dataTables.css" rel="stylesheet" data-semver="1.9.4" data-require="datatables@@*" />
<link href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/demo_table_jui.css" rel="stylesheet" data-semver="1.9.4" data-require="datatables@@*" />
<link href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/demo_table.css" rel="stylesheet" data-semver="1.9.4" data-require="datatables@@*" />
<link href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/demo_page.css" rel="stylesheet" data-semver="1.9.4" data-require="datatables@@*" />
<link data-require="jqueryui@@*" data-semver="1.10.0" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" />
<script data-require="jqueryui@@*" data-semver="1.10.0" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.js" data-semver="1.9.4" data-require="datatables@@*"></script>
<script>
    $(function () {
        var oTable = $('#datatable').DataTable({
            "oLanguage": {
                "sSearch": "Filter Data"
            },
            "iDisplayLength": -1,
            "sPaginationType": "full_numbers",

        });


        $("#datepicker_from").datepicker({
            showOn: "button",
            buttonImage: "images/calendar.gif",
            buttonImageOnly: false,
            "onSelect": function (date) {
                minDateFilter = new Date(date).getTime();
                oTable.fnDraw();
            }
        }).keyup(function () {
            minDateFilter = new Date(this.value).getTime();
            oTable.fnDraw();
        });

        $("#datepicker_to").datepicker({
            showOn: "button",
            buttonImage: "images/calendar.gif",
            buttonImageOnly: false,
            "onSelect": function (date) {
                maxDateFilter = new Date(date).getTime();
                oTable.fnDraw();
            }
        }).keyup(function () {
            maxDateFilter = new Date(this.value).getTime();
            oTable.fnDraw();
        });

    });

    // Date range filter
    minDateFilter = "";
    maxDateFilter = "";

    $.fn.dataTableExt.afnFiltering.push(
        function (oSettings, aData, iDataIndex) {
            if (typeof aData._date == 'undefined') {
                aData._date = new Date(aData[0]).getTime();
            }

            if (minDateFilter && !isNaN(minDateFilter)) {
                if (aData._date < minDateFilter) {
                    return false;
                }
            }

            if (maxDateFilter && !isNaN(maxDateFilter)) {
                if (aData._date > maxDateFilter) {
                    return false;
                }
            }

            return true;
        }

    );

    function TotalEmptyNoCalc() {
        var total = 0;
        $(".totalEP").each(function () {
            total += parseFloat($(this).text());
        });
        $("#lblEmptyNoCalc").text(total);
        console.log(total)
    }

    function TotalNewConCalc() {
        var total = 0;
        $(".totalNC").each(function () {
            total += parseFloat($(this).text());
        });
        $("#lblNewConCalc").text(total);
        console.log(total)
    }

    function TotalNewConCalc() {
        var total = 0;
        $(".totalNC").each(function () {
            total += parseFloat($(this).text());
        });
        $("#lblNewConCalc").text(total);
        console.log(total)
    }

    function TotalEMPCalc() {
        var total = 0;
        $(".totalEMP").each(function () {
            total += parseFloat($(this).text());
        });
        $("#lblEMPCalc").text(total);
        console.log(total)
    }

    function TotalCBRCalc() {
        var total = 0;
        $(".totalCBR").each(function () {
            total += parseFloat($(this).text());
        });
        $("#lblCBRCalc").text(total);
        console.log(total)
    }
</script>
